<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>My Awesome Website</title>
  </head>
  <body>

    <nav>
      <div class="navbar">
        <div class="navbar-logo">
          <img src="http://image.noelshack.com/fichiers/2018/46/2/1542130046-fuck-you-middle-finger-sign-260nw-706850809.jpg" alt="Logo">
        </div>
        <div class="navbar-right">
          <a href="https://www.youtube.com/watch?v=xzewDVXmSII"> Great </a>
          <a href="https://www.youtube.com/watch?v=Ke6kU0rD8Jg"> Awesome </a>
          <a href="https://www.youtube.com/watch?v=Mf_VveWh3h0"> Amazing </a>
        </div>
      </div>
    </nav>

    <div class="btn-welcome">
      <a href="#">Welcome</a>
    </div>

    <div class="avatar-pic">
      <span><img src="http://image.noelshack.com/fichiers/2018/46/2/1542123310-nicolas-cage.jpg" alt="Avatar" class="picture"></span>
      <div class="dropdown">
        <p>Hi I'm Nicolas Cage</p>
      </div>
    </div>

    <div class="card">
      <img src="http://image.noelshack.com/fichiers/2018/46/2/1542123310-nicolas-cage.jpg" alt="Coucou" class="card-avatar">
        <div class="card-body">
          <div class="card-title"><h2>Nicolas Cage</h2></div>
        <div class="card-description"><p>"Avec de la vodka, un cafard ça passe tout seul"</p></div>
        <div class="card-btn"><a href="https://fr.wikipedia.org/wiki/Nicolas_Cage">More Nicolas Cage ?</a></div>
      </div>
    </div>
  </body>
</html>