.btn-welcome {
			margin-top: 50px;
			display: flex;
			justify-content: center;
			align-content: center;
			height: 20px;
			width: 100px;
	        color: #ffffff;
			background-color: #000000;
			border: 2px solid black;
			border-radius: 5px;
			padding: 10px;	
			font-family: Arial;
								}

.btn-welcome:hover { background-color: #2deefd;
					border: 2px solid white; }

.btn-welcome a { text-decoration: none; 
				color: white; }